<p-card>
  <p-button [label]="'AuthModule.Back' | translate" routerLink="../"></p-button>
  <div class="p-col-12">

  </div>
  <h3>{{ 'AuthModule.RecoveryPassword' | translate }}</h3>
  <div class="p-col-12">

  </div>
  <form [formGroup]="form" (ngSubmit)="submit()" class="p-grid">
    <div class="p-col-12 p-md-4">
      <label for="username">
        {{ 'AuthModule.Username' | translate }}
      </label>
    </div>
    <div class="p-col-12 p-md-8">
      <input id="username" type="text" formControlName="email" pInputText>
    </div>
    <button class="p-col-12 p-md-offset-4 p-md-3"
            pButton
            type="submit"
            [label]="'AuthModule.SubmitRecoveryPassword' | translate">
    </button>
  </form>
</p-card>